@model PACO.Models.ViewModels.ClienteViewModel
@{
    ViewBag.Title = "Editar cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nuevo cliente</h2>

@using (Html.BeginForm("Editar", "Cliente", FormMethod.Post))
{
    <div class="row">
        
        <div class="col-md-12">
            @Html.HiddenFor(d => d.id)

            @Html.LabelFor(d => d.nombre)
            @Html.TextBoxFor(d => d.nombre, "", new { @class = "form-control" })
            @Html.LabelFor(d => d.apellidos)
            @Html.TextBoxFor(d => d.apellidos, "", new { @class = "form-control" })
            @Html.LabelFor(d => d.direccion)
            @Html.TextBoxFor(d => d.direccion, "", new { @class = "form-control" })

        </div>
        <div style="text-align:right">
            <input value="Guardar cliente" class="btn btn-primary" type="submit" />
        </div>
    </div>
}
